<!DOCTYPE html>
<html>

<body>

  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css" rel="stylesheet" type="text/css">

<div class="jumbotron text-center Aligner">
  <div class="container">
    <h1>Image Search Abstraction Layer</h1>
    <p>
      /api/latest/imagesearch/ to view the latest search requests on this application
      <br />
      <br />
      Perform an image search using /api/imagesearch/[YOURSEARCHTERM]
      <br />
      /api/imagesearch will take an optional offset perimeter
      <br />
      <br />
      Happy searching!
    </p>
  </div>
</div>


</body>
</html>
